/*header*/
*{
    margin: 0%;
}
.header{
    height: 85px;
}
.button-left-header{
    display: flex;
    flex-direction: row;
}
.logo{
    cursor: pointer;
    height: 85px;
    background-color: white;
    border: 0;
}