/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 85px;
}
.button-left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    cursor: pointer;
    height: 85px;
    background-color: white;
    border: 0;
    margin-right: 24px;
}
.filters-left{
    cursor: pointer;
    background-color: white;
    border: 0;
    font-size: 12.2px;
    font-family: Arial ;
    font-weight: 400;
    height: 30px;
    margin-left: 0;
    padding: 0 12px;
}
.filters-left:hover{
    background-color: black;
    color: white;
    border-radius: 15px;
}
#buttons-filters-right{
    margin-left: 210px;
}
.filters-right{
    cursor: pointer;
    background-color: white;
    border: 0;
    font-size: 12.2px;
    font-family: Arial ;
    font-weight: 400;
    height: 30px;
    margin-left: 0px;
    padding: 0 12px;
}
.filters-right:hover{
    background-color: black;
    color: white;
    border-radius: 15px;
}
#iconos-general{
    margin-left: 14px;
    margin-right: 6px;
}
.iconos{
    cursor: pointer;
    font-size: 20px;
    padding: 0px 10px;
}
/*main (first part)*/
.title-picture{
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    left: 76px;
    top: 274px;
    position: absolute;
}
.under-text{
    font-size: 16px;
    top: 350px;
    padding-right: 650px ;
}
.info-button{
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    top: 428px;
    border: 0;
    background-color: transparent;
  }
.info-button:after {
    display:block;  
    content: '';
    border-bottom: solid 2px white;  
    border-radius: 1px;
    transform: scaleX(1);
}
.info-button:hover:after {
    animation-name: border-animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}
  
@keyframes border-animation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
.video-button{
    cursor: pointer;
    top: 416px;
    left: 190px;
    color: black;
    font-size: 12px;
    border: 0;
    border-radius: 18px;
    background-color: white;
    height: 36px;
    width: 106px;
}
.video-button:hover{
    transition: 0.2s;
    background-color: rgb(204, 204, 204);
}
#picture-header{
    width: 100%;
    height: 100%;
}
/* second part */
.products-samsung{
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: 50px;
    gap: 30px;
}
.elegidos-del-mes{
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
}
.elegidos-del-mes:after{
    display: block;
    content: '';
    transition: 0.2s;
    border-bottom: 2px solid black;
    transform: scaleX(0);
}
.elegidos-del-mes:hover::after{
    animation-name: underlined-animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    transform: scaleX(1);
}

@keyframes underlined-animation{
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
.Recommended-phones{
    margin-left: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "number1 number2 number3" 
        "number4 number2 number5";
    gap: 20px 0px;
}
.cellphones{
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-radius: 20px ;
    height: 290px;
    width: 290px;
    position: relative;
    padding-top: 40px;
}
.phone-top-left{
    grid-area: number1;
}
.phone-center{
    grid-area: number2;
    height: 600px;
    width: 600px;
    padding-top: 50px;
}
.phone-top-right{
    grid-area: number3;
}
.phone-bottom-left{
    grid-area: number4;
}
.phone-bottom-right{
    grid-area:number5;
}
.pictures-cellphone{
    height: 140px;
    transition: 0.3s;
}
.text-phones{
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#best-cellphone{
    height:330px;
    transition: 0.3s;
}
#text-best-phone{
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.button-with-transition{
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    background-color: black;
    color: white;
    height: 35px;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
    position: absolute;
    bottom: 0px;
    transition: 0.3s;
    transform: translateY(0) scaleZ(1);
    opacity: 0;
}
.button-with-transition:hover{
    background-color: rgb(82, 82, 82)
}
.cellphones:hover .button-with-transition{
    transition: all 0.3s ease-in-out;
    transform: translateY(-15px) scaleZ(1);
    opacity: 1;
}
.cellphones:hover img{
    transition: 0.3s;
    transform: scale(1.08)
}
/* third part */
.Mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.more-products{
    margin-top: 130px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-more-products{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    gap: 32px;
}
#selected-product{
    border-bottom: 2px solid black;
    border-radius: .5px;
}
#img-more-products{
    margin: 2%;
}
.text-of-picture{
    margin-top: 16px;
    font-size: 45px;
}
.info-buy{
    display: flex;
    flex-direction: row;
    gap: 18px;
}
#info-phone{
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#info-phone:after{
    display: block;
    content: '';
    transition: 0.2s;
    border-bottom: 2px solid black;
    transform: scaleX(1);
}
#info-phone:hover:after{
    animation-name: border-animation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}
#buy-phone{     
    cursor: pointer;
    margin-top:10px ;
    border: 0;
    border-radius: 30px ;
    background-color: black ;
    color: white;
    height: 35px;
    width: 110px;
}
#buy-phone:hover{
    background-color: rgb(68, 68, 68) ;
}
/* fourth part */